<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout2 :: head">
</head>
<body>
	<!-- Top menu -->
	<nav th:replace="layout2 :: header"></nav>
	<br />
	<br />
	<br />
	<br />
	<div class="section-container">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 block-2 section-description wow fadeIn">
					<h2>Liên hệ</h2>
					<div class="divider-1 wow fadeInUp">
						<span></span>
					</div>
				</div>
			</div>
			<div
				class="col-sm-4 block-2-box block-2-right">
				<p>
					<span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span> Đường 3/2, Phường
					Xuân Khánh, Quận Ninh Kiều, TP Cần Thơ
				</p>
				<p>
					<span aria-hidden="true" class="glyphicon glyphicon-earphone"></span> Phone:
					01672462223
				</p>
				<p>
					<span aria-hidden="true" class="glyphicon glyphicon-envelope"></span>Email:
					huyb1304677@student.ctu.edu.vn
				</p>
			</div>
		</div>
		<div class="contact-icon-container">
			<span aria-hidden="true" class="icon_mail"></span>
		</div>
	</div>
	<nav th:replace="layout2 :: footer"></nav>
</body>
</html>
