<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <nav th:replace="layout :: header"></nav>
	<br/><br/><br/><br/><br/>
    <div class="container main-content list">
    	<div th:if="${success}" class="row alert alert-success alert-dismissible">
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <span th:text="${success}"></span>
	    </div>
    	
    	<th:block th:if="${#lists.isEmpty(trangthais)}">
		    <h3>Không có trạng thái</h3>
		    <div class="row">
				<a th:href="@{/trangthai/create}"
					class="btn btn-primary pull-left"> <span
					class="glyphicon glyphicon-plus"></span> Thêm trạng thái
				</a>
			</div>
		</th:block>
		
        <th:block th:unless="${#lists.isEmpty(trangthais)}">
            <div class="row">
                <a th:href="@{/trangthai/create}" class="btn btn-primary pull-left">
                	<span class="glyphicon glyphicon-plus"></span> Thêm trạng thái
               	</a>
                <form class="form-inline pull-right" action="#" th:action="@{/trangthai/search}" method="GET">
                    <div class="form-group">
                        <input type="text" class="form-control" name="q" 
                            placeholder="Nhập tên trạng thái" />
                    </div>
                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                </form>
            </div>
            <br/>
            <div class="row">
                <table class="table table-bordered table-hover black-text">
                    <thead>
                        <tr bgcolor="#CCCCCC">
                            <th>STT</th>
                            <th>Tên</th>
                            <th>Nội Dung</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="trangthai,iterStat : ${trangthais}">
                            <td th:text="${iterStat.count}"></td>
                            <td th:text="${trangthai.name}"></td>
                            <td th:text="${trangthai.noidung}"></td>
                            <td><a th:href="@{/trangthai/{id}/edit(id=${trangthai.id})}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td><a th:href="@{/trangthai/{id}/delete(id=${trangthai.id})}"><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </th:block>
    </div>
    <!-- /.container -->

    <footer th:replace="layout :: footer"></footer>
</body>
</html>